<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BookMyTicket</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body class="bg-secondary">
    <%- include("../views/partial/usernavbar.ejs") %>
    <div class="container mt-2">
        <h1 class="text-light">Upcoming Movies</h1>
        <div class="row justify-content-evenly">
          <% up.forEach(element => { %>
            <div class="card-group col-lg-4">
              <div class="card bg-dark">
                <img src="<%= element.image %>" class="card-img-top" height="450px" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-info"><%= element.name %></h5>
                  <b class="card-text d-block text-light"><b class="text-warning">Cast:</b> <%= element.cast %></b>
                  <b class="card-text d-block text-light"><b class="text-warning">Language:</b> <%= element.language %></b>
                  <b class="card-text d-block text-light"><b class="text-warning">Genre:</b> <%= element.genre %></b>
                  <b class="card-text d-block text-light"><b class="text-warning">Producer:</b> <%= element.producer %></b>
                  <b class="card-text d-block text-light"><b class="text-warning">Director:</b> <%= element.director %></b>
                  <b class="card-text d-block text-light"><b class="text-warning">Duration:</b> <%= element.duration %></b>
                  <b class="card-text d-block text-light"><b class="text-warning">Release Date:</b> <%= element.release %></b>
                 
                 
                </div>
             
              </div>
           
            </div>
          <% }) %>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>